* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto 0 auto;
    padding: 90px 62px 240px 80px;
}

header a {
    color: hsl(322, 100%, 66%);
    border: solid hsl(322, 100%, 66%);
    border-width: 1px;
    border-radius: 30px;
    padding: 8px 0 8px 0;
    font: 400 14px 'Open Sans', sans-serif;
    text-decoration: none;
    text-align: center;
    width: 135px;
    max-height: 35px;
}

header a:hover {
    color: hsl(321, 78%, 64%);
    border: solid hsl(321, 78%, 64%);
    border-width: 1px;
    box-shadow: 0 4px 8px 0 #d4d4d4;
    font-weight: bold;
}

header a:active {
    color: hsl(321, 100%, 78%);
    border: solid hsl(321, 100%, 78%);
    border-width: 1px;
}

main {
    width: 100%;
    color: hsl(192, 100%, 9%);
}

.section1 h1 {
    text-align: center;
    font: 700 46px 'Poppins', sans-serif;
    margin-bottom: 30px;
}

.section1 p {
    text-align: center;
    font: 600 18px 'Open Sans', sans-serif;
    width: 590px;
    margin: 0 auto 0 auto;
}

.section1 a {
    display: block;
    color: hsl(207, 100%, 98%);
    font: 600 18px 'Open Sans', sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 25px 0 25px 0;
    background-color: hsl(322, 100%, 66%);
    border-radius: 45px;
    width: 400px;
    margin: 50px auto 120px auto;
    box-shadow: 0 8px 8px 0 #cccccc;
}

.section1 a:hover { background-color: hsl(322, 80%, 46%);}
.section1 a:active { background-color: hsl(321, 100%, 78%);}

.section1 img {
    display: block;
    max-width: 1020px;
    width: 100%;
    margin: 0 auto 130px auto;
}

.section1 h2 {
    text-align: center;
    font: 700 40px 'Poppins', sans-serif;
    margin-top: 180px;
}

.section2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 870px;
    margin: 0 auto 0 auto;
}

.section2 h1 { font: 700 95px 'Open Sans', sans-serif;}

.section2 p {
    font: 400 24px 'Open Sans', sans-serif;
    color: hsl(240, 3%, 66%);
    text-align: center;
    padding-top: 10px;
    margin-bottom: 140px;
}

picture img {
    display: block;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto 0 auto;}

.section3 { max-width: 1440px; margin: 0 auto 180px auto;}
.section3a { background-color: hsl(207, 100%, 98%);}

.section3a img {
    width: 525px;
    margin: 50px 0 50px 0;
}
.section3b h1 { margin-top: 50px;}
.section3b img {
    width: 525px;
    margin: 180px 0 130px 0;
}
.section3 h1 { font: 700 40px 'Poppins', sans-serif;}

.section3 p {
    font: 600 16px 'Open Sans', sans-serif;
    width: 535px;
    padding-top: 25px;
}

.section3a, .section3b {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px 0 120px;
}

.section3a { flex-wrap: wrap-reverse;}

footer { max-width: 1440px;
    margin: 0 auto 0 auto;}

footer>img {
    margin-top: 150px;
    display: block;
}

.section4 {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    background-color: hsl(192, 100%, 9%);
    color: white;
    text-decoration: none;
    padding: 120px 120px 100px 120px;
}

.section4a>img {
    width: 245px;
    filter: brightness(0) invert(1);
    margin-bottom: 30px;
}

.section4 p {
    font: 400 14px 'Open Sans', sans-serif;
    width: 340px;
    line-height: 25px;
}
.section4a p { width: 300px;}
.section4 h1 { margin-bottom: 20px;
    font: 600 25px 'Poppins', sans-serif;
}

.socials {
    display: inline-block;
    margin: 80px 20px 0 0;
}

.coordinates { margin-top: 25px;}
.mail { margin-top: 10px;}
.coordinates>img { margin-right: 20px;}

input[type=email] {
    padding: 17px 0 17px 15px;
    width: 320px;
    border-radius: 8px;
    margin: 45px 40px 0 0;
    font: 400 16px 'Open Sans', sans-serif;
}

#email:invalid { border-color: hsl(0, 100%, 63%);} 

#msg {
    color: hsl(0, 100%, 63%);
    font: 400 12px 'Open Sans', sans-serif;
    margin-top: 5px;
} 

input[type=submit] {
    margin-top: 45px;
    background-color: hsl(322, 100%, 66%);
    width: 160px;
    padding: 17px 0 17px 0;
    border-radius: 8px;
    color: white;
    font: 600 16px 'Open Sans', sans-serif;
}
input[type=submit]:hover { background-color: hsl(322, 80%, 46%);}
input[type=submit]:active {
    background-color: hsl(321, 100%, 78%);
}

.section4b { margin-bottom: 100px;}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    background-color: hsl(192, 100%, 9%); 
    color: white; 
    padding-bottom: 5px;}
.attribution a { color: hsl(194, 100%, 89%); }

@media screen and (max-width: 375px) {
    header {
        width: 375px;
        padding: 25px 25px 120px 25px;
        align-items: center;
        margin: 0 auto 0 auto;
    }
    header img { width: 95px;}

    header a {
        padding: 5px 15px 5px 15px;
        font-size: 10px;
    }

    .section1 h1 {
        width: 270px;
        font-size: 24px;
        margin: 0 auto 23px auto;
    }

    .section1 p {
        font-size: 13px;
        width: 290px;
        line-height: 21px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .section1 a {
        font-size: 12px;
        padding: 12px;
        width: 200px;
        margin: 47px auto 100px auto;
    }
    .section1 img { 
        width: 300px;
        margin: 0 auto 120px auto;}
    
    .section1 h2 {
        text-align: center;
        font-size: 22px;
        margin-top: 50px;
    }

    .section2 {
        justify-content: center;
        width: 155px;
        height: 360px;
    }  
    .section2 h1 { font-size: 54px; text-align: center;}
    
    .section2 p {
        font-size: 14px;
        /*padding-top: 10px;*/
        margin-bottom: 90px;
    }
    .section2 img { width: 30px;}

    .section3a, .section3b { 
        text-align: center; 
        width: 100%; 
        justify-content:center ;}
    
    .section3a img, .section3b img {
        width: 265px;
        margin: 85px auto 80px auto;
       
    }

    .section3b img { margin: 150px auto 80px auto;}
    .section3a img:last-child { margin-top: 15px;}
    .section3 h1 { font-size: 20px; width: 240px; margin: 0 auto 0 auto;}
    .section3 p { 
        font-size: 14px; 
        width: 330px; 
        margin: 0 auto 0 auto;
        margin-bottom: 60px;
        padding-top: 17px;}

    .section3a p:last-child { margin-bottom: 110px;}
    .section3b p { padding: 15px 0 50px 0;}
    
    footer { width: 100%;}
    .section4 { padding: 70px 0 45px 25px;}
    
    .section4a>img { width: 200px; margin-bottom: 15px;}
    .section4 p { line-height: 24px; width: 305px;}
    .section4 h1 {font-size: 20px; padding-bottom: 20px;}
    input[type=email] { font-size: 14px;
        padding: 13px 0 13px 15px;
        margin: 30px 0 15px 0;}

    input[type=submit] { 
        margin: 0 28px 0 auto;
        padding: 13px 0 13px 0;
        float:right; 
        clear:right; 
    }
    .section4a img+p { margin-bottom: 40px;}
    .coordinates { margin-top: 15px;}
    .coordinates>img { margin-right: 18px;}
    .socials { margin-top: 50px; margin-right: 10px; font-size: 25px;}
}